@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  padding: 4px 8px;
  border-radius: 8px;
  cursor: pointer;
}

input,
select {
  outline: none;
  padding: 4px 8px;
}